.calculadora{
    background-color: aqua;
    top:50%;
    left:50%;
    position: fixed;
    display: flex;
    border: 1px solid rgb(182, 179, 179);
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(3, 108, 3),rgb(4, 4, 166));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color:rgb(21, 115, 198);
    width: 93%;
    height: 80px;
    background-color: azure;
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid rgb(2, 2, 70);
    padding: 10px;
    display:flex;
    align-items: center; 
    justify-content: flex-end; 
}/*Fechamento tela*/

.linha{
    display:flex;
    flex-direction: row;
    margin-top: 5px;
}/*Fechamento linha*/

.configuracaoBotao{
    display:flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 1px solid rgb(137, 199, 12);
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    color: rgb(2, 2, 70);   
}

button:hover{
    background-color: rgb(151, 151, 237);
}

button:last-child{
    margin-right: 0;
    background-color: aquamarine;
}

.clear{
    width: 100px;
}