*{
margin:0;
padding:0;
}

#hamburger{
    displpay:none;
}

.menuBotao{
    display:block;
    width: 30px;
    height: 25px;
    position:relative;
    margin:30px;
}

.hamburgerStyle,
.hamburgerStyle::after,
.hamburgerStyle::before
{
    content:"";
    display:block;
    background-color: black;
    height:3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
}

.hamburgerStyle::before{
    top:8px;
}

.hamburgerStyle::after{
    bottom: 8px;
}

.menuBotao:hover .hamburgerStyle,
.menuBotao:hover .hamburgerStyle::after,
.menuBotao:hover .hamburgerStyle::before
{
    background-color: rgb(156, 155, 155);
}

.menu{
    list-style:none;
    background-color: rgb(214, 212, 212);
    position: absolute;
    left: 23px;
    width: auto;
    height: 0;
    transition: height0.3s ease;
    overflow: hidden;
}

.menu.open{
    height: auto;
}