body{
    margin:0;
    padding:0;
    font-family: arial,sans-serif;
    background-color: rgb(245, 242, 223);
}

h1{
    font-size: 36px;
    color: rgba(18, 17, 18, 0.986);
    margin-top:0;
}

p{
    font-size:18px;
    line-height:1.5 ;
    color:black
}

.container{
    width:80%;
    padding: 20px;
    background-color: rgba(210, 221, 255, 0.945);
    margin: 0 auto;
}

@media (max-width:768px){
    .container{
        width:90%;
        padding:10px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 12px;
    }
}