.error{
    color:red;
    margin-top: 10px;
}

body{
    font-family:Arial, sans-serif;
    background-color: rgb(227, 210, 248);
}
#app{

max-width:500px;
margin:0 auto;
background-color: rgb(250, 184, 220);
padding:20px;
box-shadow:1px 1px 10px rgb(191, 66, 149);
border-radius:10px;
text-align:center;
}
h1{
    margin-top:0;
}

form{
    flex-direction:column;
    display:flex;
    align-items:center;
}

label{
    margin-bottom:10px;
}

input[type="text"], input[type="password"]{
    padding:10px;
    border-radius:10px;
    border: none;
    margin-bottom:10px;
}

button{
    padding:10px;
    background-color: rgb(180, 207, 248);
    color:black;
    border: none;
    border-radius:10px;
    cursor:pointer;
    margin-bottom:10px;
}

button:hover{
    background-color: rgb(209, 72, 177);
}