body {
    background-color:rgb(126, 190, 203);
    font-family: arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
}

ul{
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content:center;
    list-style-type :none;
}

li{
    margin:5%;
}

a{
    display:flexs;
    text-align: center;
    background-color:rgba(23, 120, 242, 1);
    padding: 10px 15px;
    border-radius : 5px;
    text-decoration:none;
    transition:all 0.5s ease-in-out;
    color:white;
}

a:hover{
    background-color:rgb(144, 241, 245);
    color:black; 
}

.instagram{
    background-color: brown;
    background-image: linear-gradient(to bottom, rgba(120, 70, 196, 1),rgba(245, 79, 81, 1),
    rgba(255, 144, 72, 1),rgba(255, 173, 77, 1),rgba(200, 55, 171, 1));    
}  

.twitter{
    background-color: rgba(29, 155, 240, 1);
}
