img{
    width: 150px;
    height: auto;
    border: 2px solid rgb(14, 13, 13);
    padding: 5px;
    background-color: white;
    transition: transform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(178, 219, 244);
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;   
}

li{
    margin-right: 20px;
    margin-bottom: 20px;   
}

a{
    color:rgb(10, 10, 11);
    text-decoration:rgb(188, 189, 244);
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(239, 178, 241);
    color:rgb(9, 9, 9);
    padding: 5px 10px;
    cursor: pointer;
    border-style: none;    
    border-radius: 7px;
    margin-right: 10px;
    
}

button:hover{
    background-color:rgb(252, 172, 233);
}

