.Calculadora{
    background-color:rgb(170, 163, 163);
    top:50%;
    left:50%;
    position:fixed;
    display:flex;
    border:1px solid rgb(252, 144, 180);
    transform: translate(-50%,-50%);
    font-size: 2rem;
    padding: 20px;
    border-radius:10px;
    background-image:linear-gradient(white,rgb(255, 192, 227),rgb(161, 25, 161));
    flex-direction:column;
    justify-content:center;
    align-items:center;
}/*Fechamento Calculadora*/

.tela{
    color:black;
    width:93%;
    height:80px;
    background-color:rgb(242, 217, 247);
    border-radius:10px;
    font: size 3rem;
    margin-bottom:20px;
    border:3px solid rgb(227, 162, 215);
    padding:10px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}/*Fechamento tela*/

.linha{
    display:flex;
    flex-direction:row;
    margin-top:5px;
}/*Fechamento linha*/

.ConfiguracaoBotao{
    display:flex;
    flex-direction:column;
    align-items:center;

}/*Fechamento ConfiguracaoBotao*/

button{
    font-size:2rem;
    width:80px;
    height:80px;
    margin-right:5px;
    border:1px solid rgb(235, 163, 245);
    border-radius:10px;
    cursor: pointer;
    background-color:white;
    color: black;
}

    button:hover{
        background-color:beige;
        margin-right:0;
    }